<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This site was created for learning. it uses data from mapbox.com and weatherstack</p>
        {{>footer}}
    </body>
</html>